@charset "utf-8";
/* CSS Document */
.main{
	background-image:url(a.jpg);
	background-position:center;
	width:500px;
	height:500px;
	text-align:center;
	
}


body{
background-image: -moz-radial-gradient(ellipse closest-side, #ffffff, #d4e2af);
  background-image: -webkit-radial-gradient(ellipse closest-side, #ffffff, #d4e2af);
  background-image: radial-gradient(ellipse closest-side, #ffffff, #d4e2af);
  -moz-perspective: 1000px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  vertical-align:middle;

	color: #D5D6E2;
	font-weight: 500;
	font-size: 1.05em;
	font-family: "Microsoft YaHei","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif;
}

span.name{
	position:absolute;
	left:170px;
	top:120px;
	color:#fff;
	font-size:57px;
	}
	

span.word1{
	position:absolute;
	left:220px;
	top:200px;
	color:#fff;
	font-size:35px;
	}
span.word2{
	position:absolute;
	left:220px;
	top:270px;
	color:#fff;
	font-size:35px;
	}
span.word3{
	position:absolute;
	left:220px;
	top:340px;
	color:#fff;
	font-size:35px;
	}
span.word4{
	position:absolute;
	left:220px;
	top:410px;
	color:#fff;
	font-size:35px;
	}
span.word5{
	position:absolute;
	left:220px;
	top:480px;
	color:#fff;
	font-size:35px;
	}


